@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
#sp {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#sp h4,
#sp h5,
#sp h6 {
  font-weight: 700;
}
#sp h4 {
  font-size: 24px;
}
#sp h5 {
  font-size: 18px;
}
#sp p {
  max-width: 736px;
  margin: 0.75em auto 0;
  line-height: 1.4;
}
#sp p a {
  color: #05a7cf;
}
#sp p a:hover {
  color: #05a7cf;
}
#sp p b {
  font-weight: 700;
}
#sp p.sp-ruled {
  padding-top: 0.75em;
  border-top: 1px solid #FFF;
}
#sp .sp-banded {
  background: #EFEFEF;
  border-color: #CCC;
  border-style: solid none;
  border-width: 1px;
}
#sp .sp-boxed {
  padding: 18px;
  border: 1px solid #CCC;
  background: #EFEFEF;
  text-align: left;
}
#sp .sp-boxed.sp-boxed-fixed-height {
  min-height: 200px;
}
#sp .sp-boxed.sp-boxed-rounded {
  border-radius: 4px;
}
#sp .sp-boxed.sp-boxed-white {
  background: #FFF;
}
#sp .sp-header {
  padding-bottom: 24px;
  text-align: center;
}
#sp .sp-padded {
  padding-top: 32px;
  padding-bottom: 32px;
}
#sp .img-responsive {
  margin: auto;
}
#sp .sp-highlight {
  background-color: #FFF1AF;
}
#sp em {
  color: #05a7cf;
}
#sp a:hover {
  color: inherit;
  text-decoration: underline;
}
#sp a:active {
  text-decoration: none;
}
#sp #sp-main-header {
  background-color: #22afca;
  color: #FFF;
}
#sp #sp-main-header #sp-top-bar {
  background-color: rgba(0, 0, 0, 0.2);
}
#sp #sp-main-header #sp-top-bar #sp-logo {
  width: 150px;
}
#sp #sp-main-header #sp-top-bar .nav {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}
#sp #sp-main-header #sp-top-bar #sp-main-nav {
  display: table;
  margin-left: auto;
}
#sp #sp-main-header #sp-top-bar #sp-main-nav .navbar-form {
  padding: 0 !important;
}
#sp #sp-main-header #sp-top-bar #sp-main-nav li {
  display: table-cell;
  padding: 0 8px;
  vertical-align: middle;
}
#sp #sp-main-header #sp-top-bar #sp-main-nav li:first-of-type {
  padding-left: 0;
}
#sp #sp-main-header #sp-top-bar #sp-main-nav li:last-of-type {
  padding-right: 0;
}
#sp #sp-main-header #sp-top-bar #sp-menu-btn {
  margin: 18px 0;
  text-transform: uppercase;
}
#sp #sp-main-header #sp-top-bar #sp-menu-btn:hover {
  text-decoration: underline;
}
#sp #sp-main-header #sp-top-bar #sp-menu-btn:active {
  text-decoration: none;
}
#sp #sp-main-header #sp-course-bar {
  text-align: center;
}
#sp #sp-main-header #sp-course-list li {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #sp #sp-main-header #sp-course-list {
    display: block;
    padding: 8px 0;
  }
  #sp #sp-main-header #sp-course-list li {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 8px 0;
  }
}
@media (min-width: 768px) {
  #sp #sp-main-header #sp-course-list {
    display: inline-table;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  #sp #sp-main-header #sp-course-list li {
    display: table-cell;
    padding: 0 8px;
  }
  #sp #sp-main-header #sp-course-list li:first-of-type {
    padding-left: 0;
  }
  #sp #sp-main-header #sp-course-list li:last-of-type {
    padding-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  #sp #sp-main-header #sp-course-list li {
    padding: 0 16px;
  }
}
#sp #sp-hero-banner {
  text-align: center;
}
#sp #sp-hero-banner h4 {
  margin-top: 1em;
}
#sp #sp-hero-banner p {
  max-width: 420px;
  font-size: 16px;
}
#sp #sp-hero-banner button {
  margin-top: 1em;
  font-size: 16px;
}
#sp #sp-hero-banner .img-responsive {
  margin-top: 8px;
}
@media (min-width: 992px) {
  #sp #sp-hero-banner h4 {
    margin-top: 2.5em;
  }
}
@media (min-width: 1200px) {
  #sp #sp-hero-banner h4 {
    font-size: 32px;
  }
  #sp #sp-hero-banner p {
    max-width: 460px;
    font-size: 18px;
  }
  #sp #sp-hero-banner button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
}
@media (max-width: 767px) {
  #sp #sp-what .sp-boxed {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    border-style: none none solid;
    background: none;
  }
  #sp #sp-what .sp-boxed h5 {
    text-align: center;
  }
  #sp #sp-what .sp-boxed.sp-boxed-rounded {
    border-radius: 0;
  }
  #sp #sp-what .sp-boxed.sp-boxed-last {
    border-bottom: none;
  }
}
#sp #sp-testimonials .sp-boxed {
  margin-bottom: 48px;
  padding-bottom: 60px;
  position: relative;
}
#sp #sp-testimonials .sp-boxed .sp-customer-photo {
  position: absolute;
  bottom: 0;
  left: 50%;
}
#sp #sp-testimonials .sp-boxed .sp-customer-photo div {
  position: relative;
}
#sp #sp-testimonials .sp-boxed .sp-customer-photo div img {
  position: absolute;
  left: -48px;
  top: -48px;
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #333;
}
@media (max-width: 767px) {
  #sp #sp-testimonials .sp-boxed {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
#sp #sp-main-footer {
  padding: 0 0 48px;
  background: #333;
  color: #FFF;
}
#sp #sp-main-footer #sp-fine-print {
  color: #787878;
}
#sp #sp-main-footer #sp-foot-nav {
  font-weight: 700;
}
#sp #sp-main-footer ul {
  margin: 16px auto;
  text-align: center;
}
#sp #sp-main-footer li {
  display: inline-block;
  margin: 4px 6px;
}
#sp #sp-main-footer li.sp-social-icon {
  margin: 4px;
}
#sp #sp-main-footer li.sp-social-icon img {
  display: block;
  width: 48px;
  height: 48px;
  transition: all 0.25s ease;
}
#sp #sp-main-footer li.sp-social-icon a:hover img {
  transform: translateY(-5px);
}
#sp #sp-main-footer li:first-of-type {
  margin-left: 0;
}
#sp #sp-main-footer li:last-of-type {
  margin-right: 0;
}
