@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
.btn-primary {
  background: #ffdb53;
  background: -moz-linear-gradient(top, #ffdb53 0, #ffc600 85%, #ffc600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffdb53), color-stop(85%, #ffc600), color-stop(100%, #ffc600));
  background: -webkit-linear-gradient(top, #ffdb53 0, #ffc600 85%, #ffc600 100%);
  background: -o-linear-gradient(top, #ffdb53 0, #ffc600 85%, #ffc600 100%);
  background: -ms-linear-gradient(top, #ffdb53 0, #ffc600 85%, #ffc600 100%);
  background: linear-gradient(to bottom, #ffdb53 0, #ffc600 85%, #ffc600 100%);
  border: 1px solid #66460a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #5d3400;
  font-size: 20px;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #ffdb53;
  background: -moz-linear-gradient(top, #ffdb53 0, #cc9e00 85%, #cc9e00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffdb53), color-stop(85%, #cc9e00), color-stop(100%, #cc9e00));
  background: -webkit-linear-gradient(top, #ffdb53 0, #cc9e00 85%, #cc9e00 100%);
  background: -o-linear-gradient(top, #ffdb53 0, #cc9e00 85%, #cc9e00 100%);
  background: -ms-linear-gradient(top, #ffdb53 0, #cc9e00 85%, #cc9e00 100%);
  background: linear-gradient(to bottom, #ffdb53 0, #cc9e00 85%, #cc9e00 100%);
  color: #5d3400;
}
.glyphicon {
  top: 0.125em;
}
.img-responsive {
  width: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .modal-body {
    padding: 24px;
  }
}
.sp-pad-xs,
.sp-pad-top-xs {
  padding-top: 8px;
}
.sp-pad-sm,
.sp-pad-top-sm {
  padding-top: 15px;
}
.sp-pad-md,
.sp-pad-top-md {
  padding-top: 24px;
}
.sp-pad-lg,
.sp-pad-top-lg {
  padding-top: 36px;
}
.sp-pad-xl,
.sp-pad-top-xl {
  padding-top: 48px;
}
.sp-pad-xs,
.sp-pad-bottom-xs {
  padding-bottom: 8px;
}
.sp-pad-sm,
.sp-pad-bottom-sm {
  padding-bottom: 15px;
}
.sp-pad-md,
.sp-pad-bottom-md {
  padding-bottom: 24px;
}
.sp-pad-lg,
.sp-pad-bottom-lg {
  padding-bottom: 36px;
}
.sp-pad-xl,
.sp-pad-bottom-xl {
  padding-bottom: 48px;
}
@media (max-width: 767px) {
  .sp-stacked-pad-bottom-xs {
    padding-bottom: 8px;
  }
  .sp-stacked-pad-bottom-sm {
    padding-bottom: 15px;
  }
  .sp-stacked-pad-bottom-md {
    padding-bottom: 24px;
  }
  .sp-stacked-pad-bottom-lg {
    padding-bottom: 36px;
  }
  .sp-stacked-pad-bottom-xl {
    padding-bottom: 48px;
  }
}
.sp-close-button {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #CCC;
  font-size: 24px;
}
.sp-close-button:hover,
.sp-close-button:active {
  color: #999;
}
@media (min-width: 992px) {
  .sp-close-button {
    top: 15px;
    font-size: 32px;
  }
}
.sp-text-button:hover {
  color: inherit;
  text-decoration: underline;
}
.sp-text-button:active {
  text-decoration: none;
}
.sp-banded {
  background: #EFEFEF;
  border-color: #CCC;
  border-style: solid none;
  border-width: 1px;
}
.sp-banded.sp-banded-top {
  border-bottom-style: none;
}
.sp-banded.sp-banded-bottom {
  border-top-style: none;
}
.sp-boxed {
  padding: 15px;
  border: 1px solid #CCC;
  background: #EFEFEF;
}
.sp-boxed.sp-boxed-rounded {
  border-radius: 6px;
}
.sp-ruled-top {
  border-top: 1px solid #CCC;
}
.sp-ruled-bottom {
  border-bottom: 1px solid #CCC;
}
.sp-header {
  text-align: center;
}
.sp-header h4,
.sp-header h5,
.sp-header h6,
.sp-header p {
  margin-top: 0.375em;
}
.sp-play-items {
  margin: 8px 0;
}
.sp-play-items > li {
  display: table;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px dotted #CCC;
}
.sp-play-items > li.active {
  color: #05A7CF;
}
.sp-play-items > li.disabled {
  color: #545454;
}
.sp-play-items > li:last-of-type {
  border-bottom: none;
}
.sp-play-items a,
.sp-play-items button {
  text-align: left;
}
.sp-play-items a:hover,
.sp-play-items button:hover {
  color: #05A7CF;
}
.sp-play-items a:active,
.sp-play-items button:active {
  color: #333333;
}
@media (min-width: 992px) {
  .sp-play-items {
    margin: 0;
    padding: 8px 0;
  }
}
.sp-play-item-icon {
  display: table-cell;
  position: relative;
  min-width: 32px;
  font-size: 24px;
}
.sp-play-item-icon .glyphicon {
  position: absolute;
  top: 1px;
}
.sp-play-item-name {
  display: table-cell;
  width: 100%;
}
.sp-cover-art {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sp-math-8 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-math8.png);
}
.sp-math-9 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-math9.png);
}
.sp-math-10 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-math10.png);
}
.sp-math-11 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-math11.png);
}
.sp-math-12 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-math12.png);
}
.sp-pre-algebra .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-prealgebra.png);
}
.sp-algebra-1 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-algebra1.png);
}
.sp-geometry .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-geometry.png);
}
.sp-algebra-2 .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-algebra2.png);
}
.sp-pre-calculus .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-precalc.png);
}
.sp-college-algebra .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-college-algebra.png);
}
.sp-trigonometry .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-trigonometry.png);
}
.sp-basic-algebra .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-basic-algebra.png);
}
.sp-calculus .sp-cover-art {
  background-image: url(https://dcvp84mxptlac.cloudfront.net/img/header-pug-calculus.png);
}
.sp-row-flex {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 768px) {
  .sp-row-flex {
    flex-flow: row;
  }
}
.sp-numbered-steps {
  padding: 8px;
  padding-bottom: 0;
  list-style: decimal inside;
}
.sp-numbered-steps > li {
  margin-bottom: 8px;
}
.sp-numbered-steps > li:last-of-type {
  margin-bottom: 0;
}
.sp-questions-answers > li {
  margin-bottom: 15px;
}
.sp-question-block,
.sp-more-questions {
  position: relative;
  padding-right: 32px;
}
.sp-question-block:hover,
.sp-more-questions:hover {
  cursor: pointer;
  color: #00AFDB;
}
.sp-question-block:active,
.sp-more-questions:active {
  cursor: pointer;
  color: #333333;
}
.sp-more-questions a:hover {
  text-decoration: none;
}
.sp-see-more-icon {
  position: absolute;
  top: 0.375em;
  right: 0;
  transition: all 0.25s ease;
}
.sp-show-hide-icon {
  position: absolute;
  top: 0.375em;
  right: 0;
  color: #CCC;
  transition: all 0.25s ease;
}
.sp-question-block:hover .sp-show-hide-icon {
  color: inherit;
}
.sp-hide .sp-show-hide-icon {
  color: #333333;
  transform: rotate(180deg);
}
.sp-hide .sp-question-block:hover .sp-show-hide-icon {
  color: inherit;
}
.sp-answer-block {
  padding-bottom: 15px;
  border-bottom: 1px dotted #CCC;
  overflow: hidden;
}
.sp-hide .sp-answer-block {
  height: 0;
}
.sp-no-margin {
  margin: 0 !important;
}
.sp-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1.lite,
h2.lite,
h3.lite,
h4.lite,
h5.lite,
h6.lite {
  font-weight: 400;
}
h1.loud,
h2.loud,
h3.loud,
h4.loud,
h5.loud,
h6.loud {
  text-transform: uppercase;
}
h1.truncate,
h2.truncate,
h3.truncate,
h4.truncate,
h5.truncate,
h6.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  margin-top: 0.75em;
  line-height: 1.4;
}
p a {
  color: #05A7CF;
}
p a:hover {
  color: #05A7CF;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
a.sp-primary-link {
  padding: 8px 24px;
  border-radius: 4px;
  background: #F6D620;
  color: #5D3400;
}
a.sp-primary-link:hover {
  background: #dabb09;
  text-decoration: none;
}
b {
  font-weight: 700;
}
em {
  color: #05A7CF;
}
q {
  line-height: 1.4;
  quotes: "“" "”" "‘" "’";
}
q::before {
  margin-left: -6px;
  content: open-quote;
}
q::after {
  content: close-quote;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
button.btn-primary-cta {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-color: #5d3400;
  background-color: #ffdb53;
  background: linear-gradient(to bottom, #ffdb53 0, #ffc600 85%, #ffc600 100%);
  color: #5d3400;
  font-weight: 700;
}
.sp-course-textbooks {
  margin: auto;
  max-width: 540px;
}
.sp-course-textbooks::before,
.sp-course-textbooks::after {
  display: table;
  content: "";
}
.sp-course-textbooks::after {
  clear: both;
}
.sp-course-textbooks img {
  display: block;
  width: 100%;
  height: auto;
}
.sp-course-textbooks li {
  float: left;
  width: 25%;
  padding: 2px;
}
@media (min-width: 992px) {
  .sp-course-textbooks {
    max-width: none;
  }
  .sp-course-textbooks li {
    width: 12.5%;
  }
}
.sp-course-textbooks.sp-textbooks-us {
  max-width: 640px;
}
.sp-course-textbooks.sp-textbooks-us li {
  width: 20%;
}
@media (min-width: 992px) {
  .sp-course-textbooks.sp-textbooks-us {
    max-width: none;
  }
  .sp-course-textbooks.sp-textbooks-us li {
    width: 10%;
  }
}
.sp-recent-videos h6 a {
  color: #05A7CF;
}
@media (min-width: 992px) {
  .sp-recent-videos li:nth-of-type(n+4) {
    display: none;
  }
}
#sp-page-header {
  position: relative;
  background-color: #00AFDB;
  color: #FFF;
}
.sp-math-8 #sp-page-header {
  background-color: #DEBB4E;
}
.sp-math-9 #sp-page-header {
  background-color: #A875C9;
}
.sp-math-10 #sp-page-header {
  background-color: #80BB38;
}
.sp-math-11 #sp-page-header {
  background-color: #00C9B8;
}
.sp-math-12 #sp-page-header {
  background-color: #E76473;
}
.sp-pre-algebra #sp-page-header {
  background-color: #B288F2;
}
.sp-algebra-1 #sp-page-header {
  background-color: #ED6A6A;
}
.sp-geometry #sp-page-header {
  background-color: #8187D8;
}
.sp-algebra-2 #sp-page-header {
  background-color: #5EBDEA;
}
.sp-pre-calculus #sp-page-header {
  background-color: #EF8748;
}
.sp-college-algebra #sp-page-header {
  background-color: #ED8092;
}
.sp-trigonometry #sp-page-header {
  background-color: #E54646;
}
.sp-basic-algebra #sp-page-header {
  background-color: #31B2DC;
}
.sp-calculus #sp-page-header {
  background-color: #0ECDA2;
}
#sp-header-logo {
  width: 150px;
  height: auto;
}
.sp-math-8 #sp-page-nav,
.sp-math-9 #sp-page-nav,
.sp-math-10 #sp-page-nav,
.sp-math-11 #sp-page-nav,
.sp-math-12 #sp-page-nav,
.sp-pre-algebra #sp-page-nav,
.sp-algebra-1 #sp-page-nav,
.sp-geometry #sp-page-nav,
.sp-algebra-2 #sp-page-nav,
.sp-pre-calculus #sp-page-nav,
.sp-college-algebra #sp-page-nav,
.sp-trigonometry #sp-page-nav,
.sp-basic-algebra #sp-page-nav,
.sp-calculus #sp-page-nav {
  background-color: rgba(0, 0, 0, 0.25);
}
#sp-page-nav-items {
  display: inline-table;
}
#sp-page-nav-items li {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
}
#sp-secondary-nav {
  padding: 16px 0;
  background: #000;
  color: #FFF;
}
#sp-breadcrumbs {
  font-size: 16px;
  font-weight: 700;
}
#sp-breadcrumbs > li {
  display: inline-block;
  line-height: 1.4;
}
#sp-breadcrumbs > li::after {
  padding-left: 5px;
  content: "/\00a0";
  color: #CCC;
}
#sp-breadcrumbs > li:last-of-type::after {
  padding-left: 0;
  content: "";
}
#sp-breadcrumbs .dropdown-menu > li > a:focus,
#sp-breadcrumbs .dropdown-menu > li > a:hover {
  background-color: #333;
  color: #FFF;
}
@media (min-width: 768px) {
  #sp-breadcrumbs {
    font-size: 18px;
  }
}
#sp-course-intro {
  text-align: center;
  overflow: hidden;
}
.sp-math-8 #sp-course-intro {
  background-color: #DEBB4E;
}
.sp-math-9 #sp-course-intro {
  background-color: #A875C9;
}
.sp-math-10 #sp-course-intro {
  background-color: #80BB38;
}
.sp-math-11 #sp-course-intro {
  background-color: #00C9B8;
}
.sp-math-12 #sp-course-intro {
  background-color: #E76473;
}
.sp-pre-algebra #sp-course-intro {
  background-color: #B288F2;
}
.sp-algebra-1 #sp-course-intro {
  background-color: #ED6A6A;
}
.sp-geometry #sp-course-intro {
  background-color: #8187D8;
}
.sp-algebra-2 #sp-course-intro {
  background-color: #5EBDEA;
}
.sp-pre-calculus #sp-course-intro {
  background-color: #EF8748;
}
.sp-college-algebra #sp-course-intro {
  background-color: #ED8092;
}
.sp-trigonometry #sp-course-intro {
  background-color: #E54646;
}
.sp-basic-algebra #sp-course-intro {
  background-color: #31B2DC;
}
.sp-calculus #sp-course-intro {
  background-color: #0ECDA2;
}
@media (min-width: 992px) {
  #sp-course-intro {
    text-align: left;
  }
}
#sp-course-intro-text {
  position: relative;
}
#sp-course-intro-cover-art {
  position: absolute;
  top: -15%;
  left: 100%;
  width: 100%;
  height: 180px;
}
#sp-course-intro-cover-art.sp-cover-art {
  background-position: left top;
}
#sp-course-video-sell {
  text-align: center;
}
#sp-course-video-sell h2 {
  margin-top: 1em;
}
@media (min-width: 992px) {
  #sp-course-video-sell {
    text-align: left;
  }
}
#sp-course-topics-list li {
  display: table;
  margin-top: 0.5em;
  line-height: normal;
  color: #05A7CF;
}
#sp-course-topics-list li.free {
  color: #E03667;
}
#sp-course-topics-list .sp-course-topic-number {
  display: table-cell;
  white-space: nowrap;
}
#sp-course-topics-list .sp-course-topic-name {
  display: table-cell;
}
.sp-testimonial {
  position: relative;
  min-height: calc(72px + (12px * 2));
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #FFF;
}
@media (min-width: 768px) {
  .sp-testimonial {
    min-height: calc(80px + (12px * 2));
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .sp-testimonial {
    margin-bottom: 60px;
    border-radius: 16px;
  }
}
.sp-testimonial-user-photo {
  float: left;
  width: 72px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.sp-testimonial-user-photo > img {
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .sp-testimonial-user-photo {
    width: 80px;
  }
}
@media (min-width: 992px) {
  .sp-testimonial-user-photo {
    width: 120px;
    margin-right: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -56px;
    left: calc(50% - 60px);
  }
}
@media (min-width: 992px) {
  .sp-testimonial-user-text {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 60px;
  }
}
.sp-testimonial-user-info {
  color: #05A7CF;
  color: #E03667;
  font-style: italic;
  line-height: 1.4;
}
.sp-testimonial-user-info::before {
  content: "\2014";
}
#sp-how-it-works {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}
#sp-how-it-works h3 {
  margin-top: 0.5em;
}
#sp-main-footer {
  padding: 0 0 48px;
  background: #333;
  color: #FFF;
}
#sp-main-footer #sp-fine-print {
  color: #787878;
}
#sp-main-footer #sp-foot-nav {
  font-weight: 700;
}
#sp-main-footer ul {
  margin: 16px auto;
  text-align: center;
}
#sp-main-footer li {
  display: inline-block;
  margin: 4px 6px;
}
#sp-main-footer li.sp-social-icon {
  margin: 4px;
}
#sp-main-footer li.sp-social-icon img {
  display: block;
  width: 48px;
  height: 48px;
  transition: all 0.25s ease;
}
#sp-main-footer li.sp-social-icon a:hover img {
  transform: translateY(-5px);
}
#sp-main-footer li:first-of-type {
  margin-left: 0;
}
#sp-main-footer li:last-of-type {
  margin-right: 0;
}

