
#wrapper {
	text-align: center;
}

#display {
	width: 320px;
	height: 480px;
	border: none;
}

button {
	margin: 20px 0;
	padding: 0.75rem 2rem;
	border: 2px solid #482E16;
	border-radius: 0.625rem;
	box-shadow: inset 0 3px 0 #FBF43F, inset 0 -3px 0 #F6C902;
	
	background-color: #F5CF1C;
	background-image: -webkit-linear-gradient(#F5CF1C, #F8E230);
	background-image: linear-gradient(#F5CF1C, #F8E230);

	color: #482E16;
	font-family: "Marker Felt", "Impact", sans-serif;
	font-weight: 700;
	text-shadow: 0 1px 0 #FFF;
	text-transform: uppercase;
}
	
	button:hover {
		box-shadow: inset 0 3px 0 #FBF43F, inset 0 -3px 0 #F6C902, 0 2px 2px #D3D3D3;
	}

	button:active {
		box-shadow: inset 0 3px 0 #F6C902, inset 0 -3px 0 #FBF43F;
		background-image: -webkit-linear-gradient(#F8E230, #F5CF1C);
		background-image: linear-gradient(#F8E230, #F5CF1C);
		
		text-shadow: 0 -1px 0 #FFF;
	}