@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
#sp {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#sp h4 {
  font-size: 24px;
  font-weight: 700;
}
#sp h5 {
  font-size: 18px;
  font-weight: 700;
}
#sp h6 {
  font-weight: 700;
}
#sp p {
  margin: 0.75em 0 0;
}
#sp em {
  color: #05A7CF;
}
#sp a:hover {
  color: inherit;
  text-decoration: underline;
}
#sp a:active {
  text-decoration: none;
}
#sp #sp-equation-editor {
  height: 180px;
  border: 1px solid #CCC;
  border-radius: 2px;
  background: #FFF;
}
#sp #sp-results > .row {
  padding-top: 24px;
  padding-bottom: 24px;
}
#sp #sp-results #sp-results-sidebar {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #EFEFEF;
}
@media (min-width: 768px) {
  #sp #sp-results #sp-results-sidebar {
    border-radius: 4px;
  }
}
#sp #sp-results #sp-results-search-input {
  margin: 12px 0;
}
#sp #sp-results #sp-results-filters .sp-clear {
  text-align: right;
}
#sp #sp-results #sp-results-filters .sp-clear button {
  margin-top: 4px;
  color: #05A7CF;
}
#sp #sp-results #sp-results-filters .sp-clear button:hover {
  border-bottom: 1px dotted;
}
#sp #sp-results #sp-results-filters .sp-clear button:active {
  border-bottom: none;
}
#sp #sp-results #sp-results-filters .checkbox {
  font-size: 16px;
}
#sp #sp-results #sp-results-filters .checkbox .sp-label {
  position: relative;
  top: 2px;
}
#sp #sp-results #sp-results-filters .checkbox .sp-label:hover {
  border-bottom: 1px dotted;
}
#sp #sp-results #sp-results-filters .checkbox .sp-label:active {
  border-bottom: none;
}
@media (max-width: 767px) {
  #sp #sp-results #sp-results-filters .checkbox {
    display: inline-block;
    margin-right: 12px;
  }
}
#sp #sp-results #sp-results-more {
  margin-top: 12px;
}
#sp #sp-results #sp-results-list ul h4 {
  margin: 1em 0;
  text-transform: uppercase;
}
#sp #sp-results #sp-results-list ul h6 {
  margin: 1em 0 0;
}
#sp #sp-results #sp-results-list ul a {
  color: #05A7CF;
}
#sp #sp-results #sp-results-list ul li {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #CCC;
}
#sp #sp-results #sp-results-list ul li .details {
  margin-top: 12px;
}
#sp #sp-results #sp-results-list ul li .details img {
  display: block;
  width: 100%;
  height: auto;
}
#sp #sp-results #sp-results-list ul:last-of-type li:last-of-type {
  margin-bottom: 0 !important;
  border-bottom: none !important;
}
#sp #sp-results #sp-results-list ul.hide-items li {
  display: none !important;
}
#sp > header {
  background-color: #22AFCA;
  color: #FFF;
}
#sp > header #top-bar {
  background-color: rgba(0, 0, 0, 0.2);
}
#sp > header #top-bar #sp-logo {
  width: 150px;
}
#sp > header #top-bar .nav {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}
#sp > header #top-bar #main-nav {
  margin: 18px 0;
}
#sp > header #top-bar #main-nav li {
  display: inline-block;
  margin: 0 8px;
}
#sp > header #top-bar #menu-btn {
  margin: 18px 0;
  text-transform: uppercase;
}
#sp > header #top-bar #menu-btn:hover {
  text-decoration: underline;
}
#sp > header #top-bar #menu-btn:active {
  text-decoration: none;
}
#sp > footer {
  padding: 0 0 48px;
  background: #333;
  color: #FFF;
}
#sp > footer #fine-print {
  color: #787878;
}
#sp > footer #foot-nav {
  font-weight: 700;
}
#sp > footer ul {
  margin: 16px auto;
  text-align: center;
}
#sp > footer li {
  display: inline-block;
  margin: 4px 6px;
}
#sp > footer li.social-icon {
  margin: 4px;
}
#sp > footer li.social-icon img {
  display: block;
  width: 48px;
  height: 48px;
  transition: all 0.25s ease;
}
#sp > footer li.social-icon a:hover img {
  transform: translateY(-5px);
}
#sp > footer li:first-of-type {
  margin-left: 0;
}
#sp > footer li:last-of-type {
  margin-right: 0;
}
@media (max-width: 375px) {
  #sp .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  #sp .container .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
