
#phone {
	display: inline-block;
}

	#phone .bezel {
		text-align: center;
	}

		#phone .bezel.top {
			padding: 36px 0;
		}

		#phone .bezel.bottom {
			padding: 20px 0 17px;
		}

		#phone .bezel * {
			box-sizing: border-box;
		}

		#phone .bezel .camera {
			display: inline-block;

			width: 12px;
			height: 12px;
			border: 4px solid #333;
			border-radius: 50%;
			background: #1F003D;
		}

		#phone .bezel .home {
			display: inline-block;

			width: 50px;
			height: 50px;
			padding: 15px;
			border-radius: 50%;
			background: #333;
		}

		#phone .bezel .home .icon {
			width: 100%;
			height: 100%;
			border: 2px solid #666;
			border-radius: 4px;
		}

		#phone .bezel .speaker {
			display: inline-block;

			width: 60px;
			height: 12px;
			margin: 0 15px;
			border: 2px solid #1A1A1A;
			border-radius: 6px;
			background: #333;
		}

	#phone .button {
		position: absolute;

		border-radius: 2px;
		background: #DEDEDE;
	}
		
		#phone .button.mute {
			top: 45px;
			right: 100%;

			width: 5px;
			height: 28px;
		}

		#phone .button.power {
			bottom: 100%;
			right: 45px;

			width: 42px;
			height: 5px;
		}

		#phone .button.volume {
			right: 100%;

			width: 5px;
			height: 20px;
		}

		#phone .button.volume.up {
			top: 100px;
		}

		#phone .button.volume.down {
			top: 145px;
		}

	#phone .display {
		width: 320px;
		height: 480px;
		border: 2px solid black;
		border-radius: 4px;

		overflow: hidden;
	}

	#phone .front {
		position: relative;
		z-index: 2;
		
		padding: 0 15px;
		border: 2px solid #DEDEDE;
		border-radius: 34px;
		background: #1A1A1A;
	}
